/* @import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-grid.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-grid.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-grid.min.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-grid.min.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-grid.rtl.css";

@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-grid.rtl.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-grid.rtl.min.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-grid.rtl.min.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-reboot.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-reboot.css.map";

@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-reboot.min.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-reboot.min.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-reboot.rtl.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-reboot.rtl.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-reboot.rtl.min.css";

@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-reboot.rtl.min.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-utilities.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-utilities.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-utilities.min.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-utilities.min.css.map";

@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-utilities.rtl.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-utilities.rtl.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-utilities.rtl.min.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap-utilities.rtl.min.css.map";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap.css"; */

/* @import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap.css.map"; */
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap.min.css";
/* @import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap.min.css.map"; */

/* @import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap.rtl.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap.rtl.css.map";

@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap.rtl.min.css";
@import "./bootstrap-5.2.2/bootstrap-5.2.2/dist/css/bootstrap.rtl.min.css.map"; */

@import "./MaterialDesignIcons6/css/materialdesignicons.min.css";


body {
    padding-bottom: 20px;
    /* background-color: aqua; */
}

.navbar {
    margin-bottom: 20px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

.judulFunc{
    text-transform: uppercase;
}
.exBgImgC{
  background-image: url('./file/clouds-2725520_960_720.jpg');
  background-size: cover;
}
.exBgImgC100{
  background-image: url('./file/clouds-2725520_960_720.jpg');
  background-size: cover;
  min-height: 100px;
}
.exBgImgC250{
  background-image: url('./file/clouds-2725520_960_720.jpg');
  background-size: cover;
  min-height: 250px;
}

.bgC1{
  background-image: url('./file/bg-c1.jpg');
  background-size: cover;
}
.bgC2{
  background-image: url('./file/bg-c2.jpg');
  background-size: cover;
}
.bgC3{
  background-image: url('./file/bg-c3.jpg');
  background-size: cover;
}
.bgC4{
  background-image: url('./file/bg-c4.jpg');
  background-size: cover;
}
.bgC5{
  background-image: url('./file/bg-c5.jpg');
  background-size: cover;
}
.bgC6{
  background-image: url('./file/bg-c6.jpg');
  background-size: cover;
}


.bgCAbs7{
  background-image: url('./file/bg-abs7.jpg');
  background-size: cover;
}
.bgCAbs8{
  background-image: url('./file/bg-abs8.jpg');
  background-size: cover;
}
.bgCAbs15{
  background-image: url('./file/bg-abs15.jpg');
  background-size: cover;
}
.bgCAbs17{
  background-image: url('./file/bg-abs17.jpg');
  background-size: cover;
}

.mhight20{
  min-height: 20px;
}
.mhight30{
  min-height: 30px;
}
.mhight50{
  min-height: 50px;
}
.mhight100{
  min-height: 100px;
}
.mhight250{
  min-height: 250px;
}

.mhightFull{
  min-height: 100%;
}

.bbOpa1{
  background-color: rgba(10, 10, 10, 0.1);
}
.bbOpa2{
  background-color: rgba(10, 10, 10, 0.2);
}
.bbOpa4{
  background-color: rgba(10, 10, 10, 0.4);
}
.bbOpa6{
  background-color: rgba(10, 10, 10, 0.6);
}
.bbOpa8{
  background-color: rgba(10, 10, 10, 0.8);
}
.bwOpa1{
  background-color: rgba(255, 255, 255, 0.1);
}
.bwOpa2{
  background-color: rgba(255, 255, 255, 0.2);
}
.bwOpa4{
  background-color: rgba(255, 255, 255, 0.4);
}
.bwOpa6{
  background-color: rgba(255, 255, 255, 0.6);
}
.bwOpa8{
  background-color: rgba(255, 255, 255, 0.8);
}

.bbOpa10{
  background-color: rgba(10, 10, 10, 0.1);
}
.exBgColorBlack20{
  background-color: rgba(10, 10, 10, 0.2);
}
.exBgColorBlack40{
  background-color: rgba(10, 10, 10, 0.4);
}
.exBgColorBlack60{
  background-color: rgba(10, 10, 10, 0.6);
}
.exBgColorBlack80{
  background-color: rgba(10, 10, 10, 0.8);
}

.pcard3{
  padding:0px 12px 0px 0px !important;
}
/* .imgColorOpacity20{
  background-color: rgba(10, 10, 10, 0.2);
} */